---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
{% css %}
{% include "css/home/index.css" %}
{% endcss %}

<div class="home-page">
  {% include "components/home/hero-section.njk" %}
  {# {% include "components/home/main-image-section.njk" %} #}
  {% include "components/home/statistics-section.njk" %}
  {% include "components/home/features-section.njk" %}
  {% include "components/home/about-section.njk" %}
  {% include "components/home/products-section.njk" %}
  {% include "components/home/partners-section.njk" %}
  {% include "components/home/cta-section.njk" %}
  {% include "components/home/contact-section.njk" %}
  {% include "components/home/feedback-section.njk" %}
  {% include "components/home/footer-section.njk" %}
</div>
