<section class="cta-section">
  <div class="cta-background">
    <div class="cta-background-gradient"></div>
    <img src="../public/img/cta.png" alt="World map background" class="cta-bg-image"/>
  </div>
  <div class="cta-content">
    <h2 class="cta-subtitle">Are you a distributor, wholesaler, or printing company looking for a reliable paper supplier?</h2>
    <div class="cta-headline">
      <span class="headline-text-small">Let's
      </span>
      <span class="headline-text-medium">grow</span>
      <span class="headline-text-small"></span>
      <span class="headline-text-large">together.</span>
    </div>
    <p class="cta-description">Write us today to request a quote or product samples.</p>
    {% set buttonText = "Get in touch!" %}
    {% set buttonVariant = "secondary" %}
    {% include "components/shared/button.njk" %}
  </div>
</section>