{% css %}
{% include "css/home/hero-section.css" %}
{% endcss %}
<section class="hero-section">
  <div
    class="hero-container">
    <!-- Hero content -->
      <div class="hero-content">
        <div class="hero-subtitle">Premium-grade paper for precision and performance</div>
        <h1 class="hero-title">
          Inspired by Nature Brought to life on paper
        </h1>
      </div>

      <!-- Navigation indicators -->
      <div class="hero-indicators">
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator active"></div>
      </div>
    </div>
  </section>