<section class="partners-section">
  <div class="partners-content">
    <h2 class="partners-title">Our valued partners</h2>
    
    <div class="partners-grid">
      <img src="https://api.builder.io/api/v1/image/assets/TEMP/615ea17069c14622ab65e06bcb7266ff475392d6?width=478" alt="Heinzel Group" class="partner-logo" />
      <img src="https://api.builder.io/api/v1/image/assets/TEMP/9a223272a598a97112a5fac5161fcdfe13dca372?width=326" alt="Navigator" class="partner-logo" />
      <img src="https://api.builder.io/api/v1/image/assets/TEMP/cfb582b836e7420d39ae821df81d3153bf65732e?width=458" alt="Europacell" class="partner-logo" />
      <img src="https://api.builder.io/api/v1/image/assets/TEMP/5b25eefc32c6bb9fca4df0e4b17fcf5cd8d46628?width=298" alt="Dubai" class="partner-logo" />
      <img src="https://api.builder.io/api/v1/image/assets/TEMP/6adf198d1fc046797fac3066d9cb0339e51fcec6?width=358" alt="Druk" class="partner-logo" />
    </div>
    
    <div class="partners-divider">
      <div class="divider-gradient"></div>
      <div class="divider-arrow">
        <svg width="66" height="62" viewBox="0 0 66 62" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_partners_arrow)" transform="rotate(-90 33 31)">
            <path d="M38.2533 42.5132C21.6319 41.7321 12.8837 42.5132 6.76001 47.9808L6.76001 21.4239L24.2563 4.23996L54 4.23996C31.2548 16.7373 38.2533 42.5132 38.2533 42.5132Z" fill="url(#paint0_linear_partners_arrow)"/>
            <path d="M6.76001 4.23996L6.76001 47.9808C13.7585 36.2645 37.5687 7.90775 54 4.23996L6.76001 4.23996Z" fill="#00AEEF"/>
          </g>
          <defs>
            <filter id="filter0_d_partners_arrow" x="0.760006" y="0.239929" width="65.24" height="61.7408" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dx="3" dy="5"/>
              <feGaussianBlur stdDeviation="4.5"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_partners_arrow"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_partners_arrow" result="shape"/>
            </filter>
            <linearGradient id="paint0_linear_partners_arrow" x1="6.76001" y1="26.1104" x2="54" y2="26.1104" gradientUnits="userSpaceOnUse">
              <stop stop-color="#29255F"/>
              <stop offset="1" stop-color="#00AEEF"/>
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="divider-small"></div>
    </div>
  </div>
</section>
