{% css %}
{% include "css/home/statistics-section.css" %}
{% endcss %}
<section class="statistics-section">
  <div
    class="statistics-background">
    <!-- Manufacturing facility image background -->
    <div class="image-decoration-container">
      <div class="image-decoration"></div>
      <div></div>
      <div class="image-decoration"></div>
    </div>
    <img class="statistics-image" src="../public/img/hero.jpg" alt="BlueHills Manufacturing Facility" />
    {% include "components/home/statistics-overlay.njk" %}
  </div>
</section>